@import '../../styles/variables';

.mainContainer {
    background-color: $color-bg-light;
    border-radius: 1.75rem;
    height: 100%;
    overflow-y: scroll;
    position: relative;
    width: 51%;

    @media (max-width: 450px){
       width: 100%;
    }

    &List{
        border: 1px solid ;
    }
}
