@import '../../styles/variables';

.pageLayout{
    background: $color-darkViolet;
    height: 100vh;
    width: 100%;

    &Flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }
}