$color-white: #FFFFFF;
$color-pink: #f935a9;
$color-torquoise: #30BBB5;
$color-darkGrey: #3C3F54;
$color-purple: #7946C1;
$color-grey-1: #E2E2EA;
$color-grey-2: #919296;
$color-grey-3: #707070;
$color-darkViolet: #262A41;
$color-bg-light: #F7F7FF;