@import '../../styles/variables';



.backBtn{
    align-items: center;
    cursor: pointer;
    color: $color-grey-3;
    display: flex;
    text-transform: uppercase;
    & svg {
        color: $color-torquoise;
        font-size: 1.4rem;
        margin-right: 1rem;
    }
}

.user {
    display: flex;
    margin-top: 2rem;

    &ImageContainer{
        border-radius: 50%;
        border: 5px solid $color-torquoise-1;
        height: 10rem;
        margin-right: 2rem;
        overflow: hidden;
        width: 10rem;
        & img {
            width: 100%;
        }
    }
    &Name{
        font-weight: 500;
    }

    & span {
        color : $color-grey-3;
        font-weight: 200;
    }
    &Age{
        margin-left: .3rem;
    }

    &Location{
        margin: 1rem 0;
        &Number {
            margin-right: .5rem;
        }
    }

    &JoinedAt{
        background: $color-pink-light;
    }

    &Email {
        background: $color-grey-1;
        & svg {
            color: #BABDD1;
            font-size: 1.2rem;
            margin-right: .5rem;
        }
    }

    &Phone {
        display: flex;
        align-items: center;
        color: #8A8C9C;
        font-size: .8rem;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        width: max-content;
        & svg {
            color: #BABDD1;
            font-size: 1.25rem;
            margin-right: .7rem;
        }
    }
}


.email_JoinedAt {
    border-radius: 1.5rem;
    color: #686077;
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
    justify-content: space-between;
    padding: .7rem .9rem;
    margin-bottom: 1rem;
    width: max-content;
}

.overlay{
    background-color: rgba($color-bg-light, 0.5);
    height: 7rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2000;
}